<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/js/public/layui257/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/system/rolemgr.css">
    <title>角色管理页面</title>
</head>
<body>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addRole">新增角色</button>
        <button class="layui-btn layui-btn-sm" lay-event="delRole">删除角色</button>
        <button class="layui-btn layui-btn-sm" lay-event="refRole">刷新</button>
    </div>
</script>
<div class="layui-row height100">
    <div class="layui-col-md3 height100 fenggexian">
        <table class="layui-hide" id="role" lay-filter="role"></table>
    </div>
    <div class="layui-col-md9 height100 pleft">
        <div class="layui-form-item save_bth_pr">
            <button type="button" class="layui-btn" id="saveRoles">保存</button>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色名称：</label>
            <div class="layui-input-block">
                <input type="text" id="idAdd" name="idAdd" style="display: none">
                <input type="text" id="roleNameAdd" name="roleName" lay-verify="title" autocomplete="off" placeholder="请角色名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述内容：</label>
            <div class="layui-input-block">
                <input type="text" id="remarkAdd" name="remark" lay-verify="title" autocomplete="off" placeholder="请描述内容" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单列表：</label>
            <div class="layui-input-block">
                <div id="menuTree" style="height: 500px;border:solid 1px #C0C0C0"></div>
            </div>
        </div>

    </div>
</div>
<!--<div id="addRoleDiv" style="display:none;margin-top: 50px;">-->
<!--    <form class="layui-form">-->
<!--        <div class="layui-form-item">-->
<!--            <label class="layui-form-label">角色名称：</label>-->
<!--            <div class="layui-input-block">-->
<!--                <input type="text" name="roleName" lay-verify="required" autocomplete="off" placeholder="请输入角色名称" class="layui-input"-->
<!--                       style="width: 90%">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="layui-form-item">-->
<!--            <label class="layui-form-label">角色描述：</label>-->
<!--            <div class="layui-input-block">-->
<!--                <input type="text" name="remark" autocomplete="off" placeholder="请输入角色描述" class="layui-input" style="width: 90%">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="layui-form-item" style="padding-top: 50px">-->
<!--            <div style="text-align: center;padding-right: 110px;" class="layui-input-block">-->
<!--                <button type="submit" class="layui-btn" lay-submit="" lay-filter="addRole">保存</button>-->
<!--                <button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<script type="text/javascript" src="/static/js/public/layui257/layui.all.js"></script>
<script>
    layui.use(['tree', 'util', 'form'], function () {
        var $ = layui.jquery;
        var table = layui.table,
            layer = layui.layer,
            util = layui.util,
            tree = layui.tree,
            form = layui.form;

        // form.on('submit(addRole)', function (data) {
        //     var articleFrom = data.field;
        //     $.ajax({
        //         url: '/system/role/add',
        //         method: 'post',
        //         contentType: 'application/json',
        //         data: JSON.stringify(articleFrom),
        //         dataType: 'json',
        //         success: function (res) {
        //             window.location.reload();
        //         },
        //         error: function (res) {
        //             alert('添加失败');
        //         }
        //     });
        //     return false;
        // });
        tree.render({
            elem: '#menuTree',
            data: [],
            showCheckbox: true,  //是否显示复选框
            id: 'menuTree'
        });

        $("#saveRoles").click(function () {
            var data = {};
            var checkedData = tree.getChecked('menuTree'); //获取树形菜单选中节点的数据,json数组
            var roleName = $("#roleNameAdd").val();
            if (roleName == null || roleName == "") {
                layer.alert("角色名称不能为空！");
                return;
            }
            var remark = $("#remarkAdd").val();
            var id = $("#idAdd").val();
            data.tree = checkedData;
            data.id = id;
            data.roleName = roleName;
            data.remark = remark;
            $.ajax({
                url: '/system/role/userRole',
                method: 'post',
                data: JSON.stringify(data),
                dataType: 'json',
                success: function (res) {
                    if (res == 1) {
                        layer.msg("保存成功");
                    } else {
                        layer.msg("保存失败");
                    }
                },
                error: function (res) {
                    layer.msg("保存异常");
                }
            });
        });

        function getTreeData() {
            //初始化加载全部的菜单
            var data;
            $.ajax({
                type: "post",
                url: "/system/menu/load",
                dataType: 'json',
                async: false,
                success: function (obj) {
                    if (obj.code == 0) {
                        data = obj.data;
                    } else {
                        layer.msg("加载失败");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ":" + errorThrown);
                }
            });
            return data;
        }

        table.render({
            elem: '#role',
            height: 'full-120',
            url: '/system/role/load',
            toolbar: '#toolbarDemo', //开启头部工具栏，并为其绑定左侧模板
            cols: [
                [
                    {type: 'radio'},
                    {field: 'roleName', title: '用户名', width: 120},
                    {field: 'remark', title: '描述'}
                ]
            ]
        });
        // //监听单元格编辑
        // table.on('edit(role)', function (obj) {
        //     var value = obj.value //得到修改后的值
        //         , data = obj.data //得到所在行所有键值
        //         , field = obj.field; //得到字段
        //     layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改为：' + value);
        // });
        //监听行单击事件（双击事件为：rowDouble）
        table.on('radio(role)', function (obj) {
            var id = obj.data.id;
            var roleName = obj.data.roleName;
            var remark = obj.data.remark;
            $.ajax({
                id: 'role',
                type: "post",
                url: "/system/menu/load/id/" + id,
                dataType: 'json',
                async: false,
                success: function (data) {
                    if (data.code == 0) {
                        var jsonData = JSON.stringify(data.data);
                        tree.reload('menuTree', {data: data.data});//加载树形菜单
                        $("#roleNameAdd").val(roleName);
                        $("#remarkAdd").val(remark);
                        $("#idAdd").val(id);
                    } else {
                        layer.msg("加载失败");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ":" + errorThrown);
                }
            });
            //标注选中样式
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
        });
        //头工具栏事件
        table.on('toolbar(role)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'addRole':
                    tree.reload('menuTree', {data: getTreeData()});
                    $("#roleNameAdd")[0].focus();
                    $("#roleNameAdd").val('');
                    $("#remarkAdd").val('');
                    break;
                case 'delRole':
                    var id = (checkStatus.data)[0].id;
                    layer.open({
                        content: '确认删除吗？',
                        btn: ['确认删除', '我再想想'],
                        yes: function (index, layero) {
                            delRow(obj, id);
                        },
                        btn2: function (index, layero) {
                            //自然关闭，不用做其他处理
                        }
                    });
                    break;
                case 'refRole':
                    table.reload("role", null);
                    break;
            }
        });

        function delRow(obj, rowId) {
            $.ajax({
                url: '/system/role/del/id/' + rowId,
                type: 'DELETE',
                success: function (res) {
                    if (1 == res) {
                        layer.msg('删除成功');
                        table.reload("role", null);
                    } else {
                        layer.msg('删除失败');
                    }
                }
            });
        }
    });
</script>
</body>
</html>