<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>xx后台管理 - Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="Bookmark" type="image/x-icon" th:href="@{/static/favicon.ico}">
    <link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">xx 后台管理</div>
        <!-- 头部区域（可配合layui已有的水平导航）
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="test1.html">控制台</a></li>
            <li class="layui-nav-item"><a href="test2.html">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>-->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src=""
                         class="layui-nav-img">
                    Allen
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="退出"/>
                </form>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed" th:if="${sysmenu.pid eq -1}" th:each="sysmenu,sm:${sysMenuList}">
                    <a class="" href="javascript:;">[[${sysmenu.name}]]</a>
                    <dl class="layui-nav-child">
                        <dd th:if="${menuChild.pid ne -1 && sysmenu.id eq menuChild.pid}" th:each="menuChild,sm1:${sysMenuList}">
                            <a th:id="${menuChild.id}" th:sdf="${menuChild.url}" href="javascript:;">[[${menuChild.name}]]</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div style="height: 100%;" class="layui-body">
        <!-- 内容主体区域 -->
        <!--选项卡-->
        <div style="margin: 0" class="layui-tab layui-tab-card" lay-unauto="" lay-allowclose="true" lay-filter="layadmin-layout-tabs">
            <ul class="layui-tab-title">
            </ul>
            <div style="padding-top: 0" class="layui-tab-content">
            </div>
        </div>
    </div>
</div>
<script src="/static/js/public/public.js" charset="utf-8"></script>
<script src="/static/js/main.js" charset="utf-8"></script>
</body>
</html>
