<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <link rel="stylesheet" href="/static/js/public/layui/css/layui.css">
</head>
<body>

<form class="layui-form" lay-filter="userIframe" id="userIframe">
    <div style="padding:20px 100px">
        <div class="layui-form-item">
            <label class="layui-form-label">用户姓名</label>
            <div class="layui-input-block">
                <input type="text" name="realName" lay-verify="required" autocomplete="off" placeholder="请输入用户姓名" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-block">
                <input type="text" name="loginName" lay-verify="required" autocomplete="off" placeholder="请输入用户姓名" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" lay-verify="required" autocomplete="new-password" placeholder="请输入用户登录密码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
                <input type="password" name="repassword" lay-verify="required" autocomplete="off" placeholder="请输入用户登录密码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户性别</label>
            <div class="layui-input-block">
                <select name="sex" lay-verify="required" lay-filter="aihao">
                    <option value="" selected>选择性别</option>
                    <option value="0">女</option>
                    <option value="1">男</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户头像</label>
            <div class="layui-input-block">
                <input type="text" name="portrait" lay-verify="required" autocomplete="off" placeholder="用户头像" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户电话</label>
            <div class="layui-input-block">
                <input type="text" name="phoneNumber" lay-verify="phone" autocomplete="off" placeholder="用户电话" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户邮箱</label>
            <div class="layui-input-block">
                <input type="text" name="email" lay-verify="email" autocomplete="off" placeholder="用户邮箱" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户生日</label>
            <div class="layui-input-block">
                <input type="date" name="birthday" autocomplete="off" placeholder="用户邮箱" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户部门</label>
            <div class="layui-input-block">
                <select name="departmentId" lay-verify="required" lay-filter="aihao">
                    <option value="" selected>选择部门</option>
                    <option value="0">开发部</option>
                    <option value="1">运维部</option>
                    <option value="2">知识部</option>
                </select>
            </div>
        </div>

        <!--<div class="layui-form-item">
            <label class="layui-form-label">用户角色</label>
            <div class="layui-input-block">
                <select id="userRole" name="userRoleAdd" lay-verify="required">
                </select>
            </div>
        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">用户角色</label>
            <div id="userRole" name="userRole" class="layui-input-block">

            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">城市</label>
            <div class="layui-input-block">
                <input type="text" name="city" autocomplete="off" placeholder="请输入城市" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">用户状态</label>
            <div class="layui-input-block">
                <select name="state" lay-verify="required" lay-filter="aihao">
                    <option value="" selected>选择状态</option>
                    <option value="1">正常</option>
                    <option value="2">禁用</option>
                    <option value="3">删除</option>
                    <option value="4">过期</option>
                </select>
            </div>
        </div>

        <pre id="demo1-value"></pre>

        <div class="layui-form-item">
            <div style="text-align: center;padding-right: 110px;" class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="addUser">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </div>
</form>
<script src="/static/js/public/layui/layui.all.js"></script>
<script src="/static/js/public/layui/xm-select.js"></script>
<script>
    var $ = layui.jquery;
    var demo2 = xmSelect.render({
        el: '#userRole',
        toolbar: {show: true},
        data: []
    })

    var htmls = ''; //全局变量
    $.ajax({
        url: '/system/role/load',
        type: "get",
        dataType : "json",
        contentType : "application/json",
        async: false,//这得注意是同步
        success: function (result) {
            console.log(result.data);
            var cons = new Array();
            for(var x in result.data){
                //htmls += '{name: ' + result.data[x].roleName + ', value: '+ result.data[x].id +' },'
                var con = {};
                con["value"] =result.data[x].id;
                con["name"] = result.data[x].roleName;
                cons[x] = con;
            }
            var a = JSON.stringify(cons);
            console.log(a);
            demo2.update({
                data:cons,
                autoRow: true,
            })
        }
    });


    layui.config({
        base: '/'
    }).use(['layer', 'form'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var router = layui.router();
        form.on('submit(addUser)', function (data) {
            //获取checkbox数据
            var json ="";
            var selectArr = demo2.getValue();
            for(var i in selectArr){
                if(json==""){
                    json +=selectArr[i].value;
                }else{
                    json +=","+selectArr[i].value;
                }
            }
            data.field.userRole=json;
            var articleFrom = data.field;
            $.ajax({
                url: '/system/addSysUser',
                method: 'post',
                contentType: 'application/json',
                data: JSON.stringify(articleFrom),
                dataType: 'json',
                success: function (data) {
                    alert('添加成功');
                    window.parent.location.reload();
                },
                error: function (data) {
                    alert('添加失败');
                },
                end: function () {
                    alert(123);
                }
            });
            //var index = parent.layer.getFrameIndex(window.name);//先得到当前iframe层的索引
            //parent.layer.close(index); //再执行关闭
            return false;
        });


    });

    /*function handel(){
        var htmls = '<option value="" selected>选择角色</option>'; //全局变量
        $.ajax({
            url: '/system/role/load',
            type: "get",
            dataType : "json",
            contentType : "application/json",
            async: false,//这得注意是同步
            success: function (result) {
                console.log(result.data);
                for(var x in result.data){
                    htmls += '<option value = "' + result.data[x].id + '">' + result.data[x].roleName + '</option>'
                }
                console.log(htmls);
                $("#userRole").html(htmls);
            }
        });

    }
    handel();

    layui.use(['layer', 'form'], function(){
        var layer = layui.layer,form = layui.form;
        form.render('select');
    });*/

   /* function handel(){
        var htmls = ''; //全局变量
        $.ajax({
            url: '/system/role/load',
            type: "get",
            dataType : "json",
            contentType : "application/json",
            async: false,//这得注意是同步
            success: function (result) {
                console.log(result.data);
                for(var x in result.data){
                    htmls += '<input type="checkbox" name="userRole" value='+ result.data[x].id +' title=' + result.data[x].roleName + '>'
                }
                console.log(htmls);
                $("#userRole").html(htmls);
            }
        });

    }
    handel();

    layui.use(['layer', 'form'], function(){
        var layer = layui.layer,form = layui.form;
        form.render('checkbox');
    });*/
</script>
</body>
</html>