<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理页面</title>
    <link rel="stylesheet" href="/static/js/public/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/system/menu.css">
</head>
<body>
<div class="page-wrapper">
    <table id="userTb"  lay-filter="userTb"></table>
</div>
<script type="text/html" id="userToolbar">
    <div class="layui-btn-container" style="display: inline-block;">
        <button id="btnAdd" class="layui-btn layui-btn-sm layui-btn-primary" lay-event="refresh">
            <i class="layui-icon">&#xe61f;</i>新增
        </button>
        <button id="btnRefresh" class="layui-btn layui-btn-sm layui-btn-primary">
            <i class="layui-icon">&#xe669;</i>刷新
        </button>
        <input class="layui-input" id="edtSearch" value="" placeholder="输入关键字"
               style="display: inline-block;width: 140px;height: 30px;line-height: 30px;margin-right: 10px;vertical-align: top;"/>
        <button id="btnSearch" class="layui-btn layui-btn-sm layui-btn-primary" style="vertical-align: top;">
            <i class="layui-icon">&#xe615;</i>搜索
        </button>
    </div>
</script>

<!-- 表格操作列 -->
<script type="text/html" id="tbBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
    <a class="layui-btn layui-btn-xs" lay-event="restore"><i class="layui-icon">&#xe63f;</i>恢复</a>
    <a class="layui-btn layui-btn layui-btn-normal layui-btn-xs" lay-event="unlock"><i class="layui-icon">&#xe673;</i>解锁</a>
</script>

<script src="/static/js/public/layui/layui.all.js"></script>


<script>
    layui.use('table', function(){
        var table = layui.table;
        var $ = layui.jquery;
        //第一个实例
        table.render({
            elem: '#userTb',
            eight: 312,
            toolbar: '#userToolbar',
            url: '/system/getUserList' //数据接口,
            ,cols: [
                [ //表头
                    {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'},
                    {field: 'realName', title: '用户姓名'},
                    {field: 'loginName', title: '用户登录账号名'},
                    {field: 'sex', title: '用户性别',
                        templet: function(res) {  //0 女 1 男
                            if(res.sex == '0') {
                                return '女';
                            } else {
                                return '男';
                            }
                        }
                    },
                    {field: 'phoneNumber', title: '用户电话'},
                    {field: 'email', title: '用户邮箱'},
                    {field: 'userRoleName', title: '用户角色'},
                    {field: 'departmentId', title: '用户部门',
                        templet: function(res) {  //用户状态 1,正常 2,禁用 3,删除 4,过期
                            if(res.departmentId == '0') {
                                return '开发部';
                            } else if (res.departmentId == '1'){
                                return '运维部';
                            } else if (res.departmentId == '2'){
                                return '知识部';
                            }else {
                                return '其他';
                            }
                        }},
                    {field: 'state', title: '用户状态',
                        templet: function(res) {  //用户状态 1,正常 2,禁用 3,删除 4,过期
                            if(res.state == '1') {
                                return '正常';
                            } else if (res.state == '2'){
                                return '禁用';
                            } else if (res.state == '3'){
                                return '删除';
                            }else {
                                return '过期';
                            }
                        }
                    },
                    {align: 'center', toolbar: '#tbBar', title: '操作', width: 280}
                ]
            ]
            ,page: true //开启分页
        });



        $('#btnAdd').click(function () {
            openIframe();
        });

        function openIframe() {
            layer.open({
                type: 2, //Page层类型
                area: ['60%', '80%'],
                title: '新增用户',
                shade: 0.6,//遮罩透明度
                maxmin: true, //允许全屏最小化
                anim: 2,//0-6的动画形式，-1不开启
                content: '/system/addUser',
                cancel: function (index, layero) {
                    if (confirm('确定要关闭么')) { //只有当点击confirm框的确定时，该层才会关闭
                        layer.close(index)
                    }
                    return false;
                }
            });
        }


        function delById(obj, rowId) {
            var rowId = obj.data.id;
            $.ajax({
                url: '/system/delUser/' + rowId,
                type: 'DELETE',
                success: function (res) {
                    if (1 == res) {
                        layer.msg('删除成功');
                        obj.del();
                    } else {
                        layer.msg('删除失败');
                    }
                }
            });
        }

        //更新
        function updateById(obj) {
            console.log(obj);
            layer.open({
                type: 2, //Page层类型
                area: ['60%', '80%'],
                title: '修改用户信息',
                shade: 0.6,//遮罩透明度
                maxmin: true, //允许全屏最小化
                anim: 2,//0-6的动画形式，-1不开启
                content: '/system/editUser/',
                success: function (layero, index) {
                    var iframe = layero.find('iframe').contents().find('#userIframe');
                    iframe.find('[name="id"]').val(obj.data.id);
                    iframe.find('[name="realName"]').val(obj.data.realName);
                    iframe.find('[name="loginName"]').val(obj.data.loginName);
                    iframe.find('[name="password"]').val(obj.data.password);
                    console.log("sex:"+obj.data.sex);
                    iframe.find('[name="sex"]').val(obj.data.sex);
                    iframe.find('[name="portrait"]').val(obj.data.portrait);
                    iframe.find('[name="phoneNumber"]').val(obj.data.phoneNumber);
                    iframe.find('[name="email"]').val(obj.data.email);
                    iframe.find('[name="birthday"]').val(obj.data.birthday.slice(0,10));
                    iframe.find('[name="departmentId"]').val(obj.data.departmentId);
                    var m = obj.data.userRole.split(",");
                    for(let index in m){
                        iframe.find(':checkbox[name="userRole"][value=' + m[index] + ']').attr('checked', 'true');
                    }
                    iframe.find('[name="city"]').val(obj.data.city);
                    iframe.find('[name="state"]').val(obj.data.state);
                    var iframeWindow = layero.find('iframe')[0].contentWindow;
                    iframeWindow.layui.form.render();
                }
            });
        }

        // 工具列点击事件
        table.on('tool(userTb)', function (obj) {
            var event = obj.event;
            if (event == 'del') {
                delById(obj);
            } else if (event == 'edit') {
                updateById(obj);
            } else if (event == 'add') {
                openIframe(obj.data.id);
            }
        });
    });



</script>
</body>
</html>